{% extends 'base.html' %}

{% block content %}

    <div class="d-flex justify-content-between" style="margin-bottom: -15px;">

        <h1>{{exhibition.title}}</h1>
        
        <div style="margin-top: 15px;">{% include 'exhibition/like_exhibition.html' %}</div>
    </div>
        
   <hr>
    
    <div class="row">
      <div class="col-9">
        <h3 style="margin-top: 20px">전시소개</h3>
        <p>{{exhibition.introduction | linebreaksbr}}</p>
        
        <h4 style="margin-top: 30px">전시 장소</h4>
        <p>{{exhibition.locations}}</p>
        
        <h4 style="margin-top: 30px">참여작가</h4>
        <p>{{exhibition.artist}}</p>
        
        <h4 style="margin-top: 30px">전시기간</h4>
        <p>{{exhibition.schedule}}</p>            
      </div>
      
      <div class="col-3">
          <img src="{{exhibition.poster}}" class="img-fluid" alt="poster" >
      </div>
    </div>
    <hr>
    
    <p>{{exhibition.location}}</p>


    <p>Ticketing:<a href="{{exhibition.ticketing}}">{{exhibition.ticketing}}</a></p>
    
    <hr>
    
    <p>전문가 평점: {{expert_score}}</p>
    <p>회원 평점 :{{general_score}}</p>


<hr>
<!--수정, 삭제, 좋아요-->
{% include 'exhibition/detail_ui.html' %}

<hr>
<!--리뷰 UI-->




<nav style="margin-bottom: 25px;">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">전문가 리뷰</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">회원 리뷰</button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">{% include 'exhibition/detail_expert_review_ui.html' %}</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">{% include 'exhibition/detail_general_review_ui.html' %}</div>
  </div>

{% endblock content %}