
{% if user.is_authenticated %}
    {% for group in user.groups.all %}
        {% if group.name == 'expert_art' %}
            <form action="{% url 'exhibition:create_expert_review' exhibition.pk %}" method="POST">
                {% csrf_token %}
                {{ expert_form }}
                <button>작성</button>
            </form>
        {% endif %}
    {% endfor %}
{% endif %}



<hr>

<ul>
    {% for expert_review in expert_reviews %}
    <li>
        <a href="{% url 'accounts:profile' expert_review.author.username %}">
            {{expert_review.author.username}}
        </a>
        : 
        {{ expert_review.content}} |
        
        평점 :{{expert_review.score}}

        {% if user == expert_review.author %}
        <form action="{% url 'exhibition:delete_expert_review' exhibition.pk expert_review.pk %}" method="POST">
            {% csrf_token %}
            <button>❌</button>
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>