{% extends 'base.html' %}

{% block content %}
<div class = "d-flex justify-content-between">
    <h1>{{moviecolumn.title}}</h1>      
</div>
<hr>
<div class="d-flex justify-content-between" style="margin-top: -9px; margin-bottom: -9px;">
    <small style="margin-top: auto;">{{moviecolumn.author.username}}</small>
    <div>{% include 'moviecolumn/like_moviecolumn.html' %}</div>

</div>
<hr>

<div style="line-height: 2.1;">
    <p >{{moviecolumn.content | safe}}</p>
</div>

<hr>

<!--수정 삭제 좋아요 스크랩 버튼-->
{% include 'moviecolumn/detail_ui.html' %}
<hr>
<!-- 댓글 UI -->
{% include 'moviecolumn/detail_comment_ui.html' %}

{% endblock content %}