{% if user == moviecolumn.author %}
<div>
    <a href="{% url 'moviecolumn:update_moviecolumn' moviecolumn.pk %}">
        <button>수정하기</button>
    </a>
</div>

<div>
    <form action="{% url 'moviecolumn:delete_moviecolumn' moviecolumn.pk %}" method="POST">
        {% csrf_token %}
        <button>삭제하기</button>
    </form>
</div>
{% endif %}

{% if user.is_authenticated  %}
<div>
    <form action="{% url 'moviecolumn:like_moviecolumn' moviecolumn.pk  %}" method="POST">
        {% csrf_token %}

        {% if is_like %}
        <button>❤</button>
        {% else %}
        <button>🤍</button>
        {% endif %}
    </form>
</div>
<div>
    <form action="{% url 'moviecolumn:clipping_moviecolumn' moviecolumn.pk %}" method="POST">
        {% csrf_token %}

        {% if is_clipping %}
        <button>🗑</button>
        {% else %}
        <button>💾</button>
        {% endif %}

        
    </form>
</div>


{% endif %}