{% extends 'base.html' %}

{% block content %}
<h1>{{profile_user.username}}의 프로필</h1>

<div>
    <a href="{% url 'account:followings' profile_user.username %}">Following</a>: {{profile_user.stars.count}}
</div>

{% for group in profile_user.groups.all %}
    {% if group.name != 'general' %}
        <a href="{% url 'account:followers' profile_user.username %}">followers</a>: {{profile_user.fans.count}}
    {% endif %}
{% endfor %}

{% if user.is_authenticated and profile_user != user %}
    {% for group in profile_user.groups.all %}
        {% if group.name != 'general' %}
            <div>
                <form action="{% url 'account:follow' profile_user.username %}" method="POST">
                    {% csrf_token %}
                    {% if is_following %}
                    <button>언팔로우</button>
                    {% else %}
                    <button>팔로우</button>
                    {% endif %}
                </form>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% for group in profile_user.groups.all %}
    {% if group.name == 'gallery' %}
        <h2>전시 현황</h2>
        <ul>
            {% for exhibition in profile_user.exhibitions.all  %}
            <li>
                <a href="{% url 'exhibition:exhibition_detail' exhibition.pk %}">
                    {{ exhibition.title }}
                </a>
            </li>
            {% endfor %}
        </ul>       
    {% endif %}
{% endfor %}
<hr>
{% for group in profile_user.groups.all  %}
        {% if group.name == 'expert_art' %}
            <h2>Art Columns</h2>
            <ul>
                {% for art in profile_user.arts.all  %}
                <li>
                    <a href="{% url 'art:art_detail' art.pk %}">
                        {{art.title}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
{% endfor %}
<hr>
{% for group in profile_user.groups.all  %}
        {% if group.name == 'expert_movie' %}
            <h2>Movie Columns</h2>
            <ul>
                {% for moviecolumn in profile_user.moviecolumns.all  %}
                <li>
                    <a href="{% url 'moviecolumn:moviecolumn_detail' moviecolumn.pk %}">
                        {{moviecolumn.title}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endif %}
{% endfor %}
<hr>

<h2>스크랩</h2>
<ul>
    {% for art in profile_user.clipping_arts.all %}
        <li>
            <a href="{% url 'art:art_detail' art.pk %}">
                {{ art.title }}
            </a>
        </li>
    {% endfor %}
</ul>
<hr>
{% if user == profile_user %}


<a href="{% url 'account:change_password' profile_user.username %}">
    <button>비밀번호 변경</button>
</a>


<a href="{% url 'account:update' profile_user.username %}">
    <button>정보수정</button>
</a>
<a href="{% url 'account:delete' profile_user.username %}">
    <button onclick="return confirm('정말 삭제하시겠습니까?')">회원탈퇴</button>
</a>


{% endif %}
{% endblock content %}