{% if user == art.author %}
<div>
    <a href="{% url 'art:update_art' art.pk %}">
        <button>수정하기</button>
    </a>
</div>

<div>
    <form action="{% url 'art:delete_art' art.pk %}" method="POST">
        {% csrf_token %}
        <button onclick="return confirm('정말 삭제할까요?')">삭제하기</button>
    </form>
</div>
{% endif %}

{% if user.is_authenticated %}
<div>
    <form action="{% url 'art:like_art' art.pk %}" method="POST">
        {% csrf_token %}

        {% if is_like %}
        <button>❤</button>
        {% else %}
        <button>🤍</button>
        {% endif %}
    </form>
</div>
<div>
    <form action="{% url 'art:clipping_art' art.pk %}" method="POST">
        {% csrf_token %}

        {% if is_clipping %}
        <button>🗑</button>
        {% else %}
        <button>💾</button>
        {% endif %}
    </form>
</div>
{% endif %}