{% if user.is_authenticated  %}
<div style="display: inline-block;">
    <form action="{% url 'art:like_art' art.pk  %}" method="POST">
        {% csrf_token %}

        {% if is_like %}
        <button class="btn">❤</button>
        {% else %}
        <button class="btn">🤍</button>
        {% endif %}
    </form>
</div>
<div style="display: inline-block;">
    <form action="{% url 'art:clipping_art' art.pk %}" method="POST">
        {% csrf_token %}

        {% if is_clipping %}
        <button class="btn">🗑</button>
        {% else %}
        <button class="btn">💾</button>
        {% endif %}

        
    </form>
</div>


{% endif %}