{% if user.is_authenticated %}
    {% for group in user.groups.all %}
        {% if group.name != 'expert_movie' %}
            <form action="{% url 'movie:create_general_review' movie.pk %}" method="POST">
                {% csrf_token %}
                {{ general_form }}
                <button>작성</button>
            </form> 
        {% endif %}
    {% endfor %}
{% endif %}

<hr>

<ul>
    {% for general_review in general_reviews  %}
    <li>
        <a href="{% url 'accounts:profile' general_review.author.username %}">
            {{general_review.author.username }}
        </a>
        : {{ general_review.content}} |

        평점 :{{ general_review.score }}

        {% if user == general_review.author %}
        <form action="{% url 'movie:delete_general_review' movie.pk general_review.pk %}" method="POST">
            {% csrf_token %}
            <button>❌</button>
        </form>
        
        {% endif %}
    </li>


    {% endfor %}
    </ul>