{% extends 'base.html' %}

{% block content %}



<div style="display: flex; padding-top: 50px">

    <div>
        <img src="{{movie.poster}}" alt="poster" width = "400px">
    </div>
    
    <div  style="margin-left: 30px;">
        
        <h1>{{movie.title}}</h1>    
        <p>소개:{{movie.introduction}}</p>
        <p>감독:{{movie.director}}</p>
        <p>출연진:{{movie.cast}}</p>
        {% if movie.on_showing == True %}
        <p>
            <a href="{{movie.ticketing}}">{{movie.ticketing}}</a>
        </p>
        {% endif %}
        <p>전문가평점: {{expert_score}}</p>
        <p>회원 평점: {{general_score}}</p>              
    </div>
</div>
    
    

    
    
    
<hr>
<div>

    <!--수정, 삭제, 좋아요-->
    {% include 'movie/detail_ui.html' %}
    
    <hr>
    
    <!--리뷰 UI-->
    {% include 'movie/detail_expert_review_ui.html' %}
    {% include 'movie/detail_general_review_ui.html' %}
    
    {% if user.is_authenticated %}
    {% for group in user.groups.all %}
    {% if   group.name == 'expert_movie' %}
    <a href="{% url 'movie:create_moviecolumn' movie.pk %}">컬럼작성gogo</a> 
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
    
    

{% endblock content %}